.listContainer {
    padding: 10px;
    border: 1px dashed green;
    border-radius: 5px;
    list-style: none;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
